<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="title01 title-01--11 text-center">
        <strong>本当に退会しますか？</strong>
        <p>退会すると、会員登録情報の閲覧や</p>
        <p>投稿機能が使用できなくなります。</p>
        <p>退会する場合は、「退会する」をクリックしてください。</p>

        <div class="mx-auto" style="width: 500px;">
          <%= link_to "退会しない", end_users_my_page_path ,class: "btn btn-primary " %>　<%= link_to "退会する", end_users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>