<div class="container">
  <h2 class="public-title">タグが<%=@tag.name%>の投稿一覧</h2>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
  <div class="tag mb-3">
    <%=link_to list.name, search_tag_posts_path(tag_id: list.id), class: 'text-white' %>
    <%="(#{list.posts.count})" %>
  </div>
  <% end %>

  <%= render 'list', posts: @posts %>
  
</div>


