<div class="about-container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="title01 title-01--11 text-center">
        <p>ご覧いただき誠にありがとうございます。</p>
        <p>あなたは台湾に訪れたことがありますか？台湾に興味がありますか？</p>
        <p>このサイトの作成者は過去に1年ほど住んでいました。</p>
        <p>サイトの作成者は台湾が大好きです!</p>
        <p>台湾は日本に勝るとも劣らない素晴らしい場所です。</p>
        <p>まだ台湾に興味のない方が、このサイトをきっかけに興味を持っていただける</p>
        <p>そんなコミュニティが欲しい！と思ったのが</p>
        <p>作成のきっかけでした。</p>
        <p>台湾に詳しい方、台湾に住んでいた方、台湾が好きな方、</p>
        <p>そんな方々の1つ1つの投稿がこのサイトの価値を高めてくれます。</p>

      </div>
    </div>
  </div>
</div>