<div class="top-main-container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="text-center">
        <h1 class="title01 text-white">One One Taiwan</h1>
        <br>
        <p class="text-white">Welcome to One One Taiwan!</p>
        <p class="text-white">このサイトは台湾を軸にしたコミュニティサイトです。</p>
        <p class="text-white">ゲストログインでも閲覧は可能ですが、</p>
        <p class="text-white">投稿には会員登録が必要です。</p>

        <%= link_to "投稿する", new_post_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
