<div class="main-container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="title-01 title-01--11 text-center">
        <br>
        <br>
        <br>
        <h2>ONE ONE TAIWAN</h2>
        <p>Welcome to ONE ONE TAIWAN!</p>
        <p>このサイトは台湾を軸にしたコミュニティサイトです。</p>
        <p>ゲストログインでも閲覧は可能ですが、</p>
        <p>投稿には会員登録が必要です。</p>

        <%= link_to "投稿する", new_post_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
