<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      <h2><%= model.errors.count %>件のエラー</h2>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
